/* Basic Reset */
html{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
body {
    
    margin: 0 auto;
    padding: 0;}
*,
*:after,
*:before{
    box-sizing: border-box
}
.clearfix::after{
    content: "";
    display: table;
    clear: both; 
    }
.hidden{
    display: none;
}
button{
    background: #333;
    color: rgb(254, 254, 254);
    padding: 0.5rem;
    border: 1px solid #222;
    border-radius: 5px;
    font-size: 1rem;
}
img{
    width: 100%;
    height: auto;
}
h2{
    font-size: 2.5rem;
}

/* Navigation Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254, 254, 254);
    color: #222;
    padding: 2rem 0;
    position: relative;
}

.fasco h1 {
    font-size: 2rem;
}

/* Navigation (Mobile-First) */
.nav {
    display: flex;
    align-items: center;
}

.sign-up {
    
    background: #222;
    border: none;
    
    color: rgb(254, 254, 254);
    border-radius: 5px;
    cursor: pointer;
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
}

.menu {
    display: none; /* Hidden by default */
    flex-direction: column;
    position: absolute;
    margin-top: 0;
    background: #222;
    border-radius: 5px;
    text-align: center;
}

.menu li {
    list-style: none;
    padding: 1rem;
}

.menu li a {
    text-decoration: none;
    color: rgb(254, 254, 254);
    display: block;
}
.menu.active {
    display: flex; /* Show when active */
}

/* banner part */
.brands{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.banner-center{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items */
    margin: 2rem; 
}
.banner-center h2{
    font-size: 2rem;
}
/* deals of the month */
#deals{
    background-color: rgb(244, 245, 242);

}
.dotm{
    padding: 3rem 0;
}
.dotm-img{
    padding: 3rem;
}
/* new arrivals part */








.margin{
    margin: 0 3rem;
}

/* Desktop Styles */
@media (min-width: 768px) {
    html{
        font-size: 16px;
    }
    .hamburger {
        display: none; /* Hide hamburger on larger screens */
    }

    .menu {
        display: flex; /* Show menu by default on desktop */
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        width: auto;
    }
    .menu li a {
        color: #222
    }
    
    .hidden{
        display: flex;
   
        flex: 1 1 30%; /* 让它们的大小与中间图片一致 */
        max-width: 100%;
    }

    .large {
        display: flex;
        justify-content: center;
        align-items: center;
        
        gap: 1rem;
    }

    .large > img,
    .large > .box-middle {
        flex: 1 1 30%; /* 让所有子元素（左右图片 + 中间）等比例缩放 */
        max-width: 100%;
    }
}
    .sign-up {
        display: block; /* Show sign-up button on larger screens */
    }

    .menu li {
        padding: 0 15px;
    }
