:root{
    --primary-color: #363636;
    --secondary-color:rgb(254,254,254);
    --blue-color: rgb(105, 148, 250);
    --grey-color: rgb(149, 147, 147);
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
/* Basic Reset */
html{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;}
*,
*:after,
*:before{
    box-sizing: border-box
}
.clearfix::after{
    content: "";
    display: table;
    clear: both; 
    }
h1{
    font-size: 2.5rem;
    padding-bottom: 1.5rem 0;
}
h2{
    margin: 0;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}

/* sign in page  */
/* mobile first text overlay on image */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3rem;
}

.box1 img {
    width: 100%;
    height: auto;
    display: block;
}

.box2 {
    position: absolute;
    background: rgba(244, 243, 243, 0.8); 
    margin: 1rem;
    padding: 0 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.borderbox> p{
    font-size: 0.8rem;
    margin: 0;
    align-self: center;
}
.borderbox:hover{
    box-shadow: var(--box-shadow);
}
.box2> *{
    flex-grow: 1;
}
.button, .button2{
    background-color: transparent;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    padding: 0.3rem 1.5rem;
    margin-top: 1rem;
}
.or{
    color: var(--grey-color);
    text-align: center;
    margin: 2rem;
}
label{
    display: none;
}
input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-color);
}
.buttoncontainer{
    display: flex;
    flex-direction: column;
}
.button2:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    border: none;
}
#forgot-password{
    font-size: 0.8rem;
    text-align: end;
}
.term{
    font-size: 0.8rem;
    text-align: end;
    margin-top: 3rem;
}

/* laptop image and text display side by side */
@media (min-width: 768px) {
    html{
        font-size: 18px;
    }
    .container {
        display: flex;
        margin: 5rem;
        align-items: stretch;
        
    }
    .box1, .box2 {
        position: static; 
        width: 50%; 
        text-align: left;
    }
    .box2 {
        border: 2px solid rgb(231, 231, 231);
        color: black;
        margin: 0; 
        padding: 1rem 5rem;

    }
    
}